@inherits LayoutComponentBase

 <div class="page" style="background-color: #ffffff;"> 
   <div style="background-color: #ffffff;">  
         
    </div> 

  <div class="sidebar" style="background-color: #a5d6a7;">
      <NavMenu />
  </div>

  <main>
      <article class="content px-4" style="background-color: #ffffff; color: #1b5e20;">
          @Body
      </article>
  </main>
 </div> 
